---
permalink: "/404.html"
layout: base.liquid
title: "Page not found"
---
<header class="mb-5">
  <h1>Page not found</h1>
  <p class="mt-1 text-text-secondary">Sorry, we couldn't find that page.</p>
</header>
<p><a class="text-accent-teal underline" href="/">Go back home</a></p>
